<!DOCTYPE html>
{% load bootstrap4 static%}
{% bootstrap_css %}
{% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'TextCategorization/styles.css' %}">

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Categorizer</title>
</head>
<body class="text-center">
        <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
          <header class="name mb-auto">
            <div class="inner">
              <h3 class="name">Categorizer</h3>
              <nav class="nav nav justify-content-center">
                <a class="nav-link" href="/#">Upload</a>
                <a class="nav-link" href="/document_list">Files</a>
              </nav>
            </div>
          </header>

          <main role="main" class="inner cover">
            {% block content %}
            {% endblock %}
          </main>

          <footer class="footer mt-auto">
          </footer>
        </div>
<script src="{% static 'TextCategorization/js/app.js' %}"></script>
</body>
</html>